
params {
   input = "/dataE/AWIGenPacBio/CFF0X"
   ref_seq = "/dataB/aux/38/Homo_sapiens_assembly38.fasta"
   ref_mmi = "/dataB/aux/38/Homo_sapiens_assembly38.mmi"
   ref_fai = "/dataB/aux/38/Homo_sapiens_assembly38.fasta.fai"


   tandem_example = "/dataB/aux/38/human_GRCh38_no_alt_analysis_set.trf.bed"
   bamify_cpus=10
   bamify_mem="30 GB"
   bam = "/spaces/lcottino/Pacbio/pbsv/bams/CFF0X_combined2/"
   vcf = "/spaces/lcottino/Pacbio/pbsv/vcfs/CFF0X_combined2/"
   out = "CFF0X"
}


process {
    withLabel: deepvariant {
        container="docker://google/deepvariant" 
    }


}


profiles {

    // For execution on a local machine, no containerization. -- Default
    standard {
        process.executor = 'local'
    }



    slurm {
        process.executor = 'slurm'
        process.queue = 'batch'
	process.clusterOptions="--constraint=avx2"
    }



    singularity {
        singularity.autoMounts = true
        singularity.enabled = true
    }


}
